fund=false
legacy-peer-deps=true
shamefully-hoist=true
sharp_binary_host=https://github.com/lovell/sharp-libvips/releases/download
sharp_libvips_binary_host=https://github.com/lovell/sharp-libvips/releases/download
sharp_dist_base_url=https://github.com/lovell/sharp-libvips/releases/download
sharp_ignore_global_libvips=1
sharp_prebuild_platform=win32
sharp_prebuild_arch=x64 